.DS_Store
.sass-cache
.jekyll-metadata
.eslintrc.json
.jekyll-cache/
.netlify/
.ruby-version
_site
node_modules/
project/
*.map
*.old
public/js/page.js
public/js/transcript.js
public/js/vendors~page~transcript.js
public/js/vendors~transcript.js
public/js/page~transcript.js
