/* wom css */

.transcript blockquote {
  font-style: italic;
}

.transcript.lj .date { 
    font-style: bold;
    font-size: 1.1em;
    line-height: 1.5em;
    font-variant: small-caps;
    text-align: right;
 }

.transcript.lj .small { 
  font-size: small;
 }

.transcript.lj .chHead { 
  text-align: center;
  font-style: italic;
  margin-bottom: 3em;
 }

.transcript.lj .capital { 
  font-weight: bold;
  font-style: italic;
  font-size: 3.33em;
  line-height: 0.42em;
 }

.transcript.lj .quote { 
  margin-left: 20px;
 }

.transcript.lj div.indent { 
  margin-bottom: 2em;
}

.transcript.lj blockquote,
.transcript.lj p.indent,
.transcript.lj div.indent p { 
  font-style: italic;
  margin-left: 3%;
 }

.transcript.lj img { 
  display: block;
  margin-left: auto;
  margin-right: auto;
 }

.transcript.wos img { 
  display: block;
  margin-left: auto;
  margin-right: auto;
 }

.transcript.wos .center { 
  text-align: center;
 }

.transcript.wos p.top { 
  padding-top: 4%;
 }

.transcript.wos span.dropcaps { 
  font-size: 4em;
  float: left;
  margin-top: -.2em;
  margin-bottom: -0.3254em;
  margin-right: .1em;
  line-height: 1.2em;
 }

.transcript.wos div.indent p, .transcript.wos p.indent { 
  font-style: italic;
  margin-left: 3%;
 }

.transcript.wos p { 
  line-height: 1.3;
 }

.transcript.wos .iam { 
  font-size: 6em;
  text-align: center;
  padding-top: 20%;
 }

.transcript.wos .i1 { 
  margin-left: 40%;
  font-size: 1.5em;
 }

.transcript.wos .i2 { 
  margin-left: 47%;
  font-size: 1.5em;
 }

.transcript.wos .i3 { 
  margin-left: 54%;
  font-size: 1.5em;
 }

.transcript.wos .quote { 
  margin-left: 20px;
 }
