{% if include.type == "standalone" %}
  <!-- CSS for Standalone development -->
  <link rel="stylesheet" href="/standalone/css/{{site.semantic}}/semantic.css">
  <link rel="stylesheet" href="/standalone/css/cmi.css">
  <link rel="stylesheet" href="/standalone/css/driver.min.css">
  <link rel="stylesheet" href="/public/css/wom.css">
{% else %}
  <!-- CSS for production -->
  <link rel="stylesheet" href="/public/css/{{site.semantic}}/semantic.css">
  <link rel="stylesheet" href="/public/css/cmi.css">
  <link rel="stylesheet" href="/public/css/driver.min.css">
  <link rel="stylesheet" href="/t/pwom/public/css/wom.css">
{% endif %}


