<div class="ui borderless main menu">
  <div id="page-menu" class="ui text container">
    <a href="#" class="bookmark-modal-open ui dropdown item">
      <span data-position="bottom center" data-tooltip="{{site.data.lang.menu.m1}}">
        <i class="red bookmark icon"></i>
      </span>
    </a>
    <a href="#" class="item search-modal-open">
      <span data-position="bottom center" data-tooltip="{{site.data.lang.menu.m2}} {{site.title}}">
        <i class="search icon"></i>
      </span>
    </a>
    {% include common/quick-link-menu.html name="pwom" %}
    <a id="help-menu" href="#" class="ui dropdown item">
      <i class="question icon"></i>
      <div class="menu">
        {% comment %}
        <div data-note="path" class="notes-modal-open item">{{site.data.lang.menu.m12}}</div>
        <div data-note="studyguide" class="notes-modal-open item">{{site.data.lang.menu.m3}}</div>
        <div class="divider"></div>
        {% endcomment %}
        <div class="page-tour item">{{site.data.lang.pmenu.p4}}</div>
        <div class="page-navtour item">{{site.data.lang.menu.m5}}</div>
        <div class="read-documentation item">{{site.data.lang.menu.m6}}</div>
        <div class="view-documentation item">{{site.data.lang.menu.m7}}</div>
        <div class="polish-documentation item">Instrukcja wideo</div>
        <div class="contact-me item">{{site.data.lang.menu.m8}}</div>
        <div class="divider"></div>
        <div class="hide profile-management item">{{site.data.lang.menu.m9}}</div>
        <div class="hide topic-management item">{{site.data.lang.menu.m10}}</div>
      </div>
    </a>
    <a href="#" class="login-menu-option ui right floated item">
      <span data-position="bottom center" data-tooltip="{{site.data.lang.menu.m11}}">
        <i class="red sign in icon"></i>
      </span>
    </a>
  </div>
</div>
