{% if include.type == "standalone" %}
  <!-- JS for standalone development -->
  <script src="/standalone/vendor/jquery/jquery.min.js"></script>
  <script src="/standalone/vendor/semantic/semantic.min.js"></script>

  <script src="/public/js/vendors~page~transcript.js"></script>
  <script src="/public/js/page~transcript.js"></script>
  <script src="/public/js/page.js"></script>
{% else %}
  <!-- JS for production (integration) -->
  <script src="/public/vendor/jquery/jquery.min.js"></script>
  <script src="/public/vendor/semantic/semantic.min.js"></script>

  <script src="/t/pwom/public/js/vendors~page~transcript.js"></script>
  <script src="/t/pwom/public/js/page~transcript.js"></script>
  <script src="/t/pwom/public/js/page.js"></script>
{% endif %}


