<div class="hide email-share-dialog-wrapper">
  <div class="email-share-dialog ui raised padded green segment">
    <p>{{site.data.lang.share.s1}}</p>
    <form name="emailshare" id="email-share-form" class="ui form">
      <div id="maillist-select" class="field"></div>
      <div class="field">
        <label>{{site.data.lang.share.s2}}</label>
        <input type="text" name="emailAddresses" placeholder="{{site.data.lang.share.s3}}">
      </div>
      <div class="fields">
        <button class="ui button" type="submit">{{site.data.lang.form.f1}}</button>
        <button class="email-share-cancel ui button">{{site.data.lang.form.f2}}</button>
      </div>
    </form>
  </div>
</div>
