<div id="page-topics-modal" class="ui small modal">
  <i class="close icon"></i>
  <div class="ui large header">
    <div id="page-topics-modal-loading" class="ui active inline loader"></div>
    {{site.data.lang.bkmrk.b4}}
  </div>
  <div class="content">
    <form name="page-topics-filter" id="page-topics-filter-form" class="ui form">
      <div class="fields">
        <div class="ten wide field">
          <div id="page-topics-modal-topic-select" class="cmi right floated content"></div>
        </div>
        <div class="three wide">
          <button id="page-topics-filter-submit" class="ui button">{{site.data.lang.bkmrk.b2}}</button>
        </div>
        <div class="three wide">
          <button class="page-topics-filter-reset ui button">{{site.data.lang.bkmrk.b3}}</button>
        </div>
      </div>
    </form>
  </div>
</div>
