<div class="timecapture ui modal">
  <i class="close icon"></i>
  <div class="ui large header">
    {{site.data.lang.time.t5}}
  </div>
  <div class="image content">
    <div class="image">
      <img src="/public/img/cmi/time-capture1.png" alt="Time Capture">
    </div>
    <div content="container">
      <div class="ui timecapture positive message">
        <div class="content">
          <div class="timecapture-message header">
            {{site.data.lang.time.t6}}
          </div>
          <div class="timecapture-message-body">
            <p> {{site.data.lang.time.t7}} </p>
            <p> {{site.data.lang.time.t8}} </p>
          </div>
        </div>
      </div>
      {% include form/time-capture.html %}
    </div> <!-- container -->
  </div>
</div>
